@media screen and (max-width:990px) {
  .blockstyle {
    width:50%;
  }
  .featured_right {
    width: 100%;
  }
}

@media screen and (max-width:690px) {
  .blockstyle {
    width:100%;
  }

  .blocktext {
    font-size: 24px;
  }
}

@media screen and (min-width:1300px) {
  body {
    width:1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
