body {
    text-align: center;
}

.grid {
  display: grid
}

.column-one {
  grid-column-start: 1;
  text-align: right;
  padding-right: 10px;
}

.column-two {
  grid-column-start: 2;
  text-align: left;
  padding-right: 10px;
}

h1 {
    font-family: Courier;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
    margin: 0 left;
}

tr {
    height: 23px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

button {
  margin-top: 10px
}
